# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# Django settings

# Development database
db.sqlite3

# Deployment directory
deployment/

# Private development data
private/
